*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 88%;
    padding:10px;
}
.container2{
    width:75%;
    padding:0;
}



.row{
    display: flex;
    flex-wrap: nowrap;
}



.col1{
	width:8.33%;
	padding:0 15px;
}

.col2{
	width:16.66%;
}
.col3{
	width:25%;
	padding:0 15px;
}


.col4{
	width:33.33%;
}


.col5{
	width:41.66%;
	/* padding:0 15px; */
}


.col6{
	width:50%;
	padding:0 15px;
}

.col7{
	width:58.33%;
	padding:0 15px;
}


.col8{
	width:66.66%;
	padding:0 15px;
}


.col9{
	width:75%;
	padding:0 15px;
}


.col10{
	width:83.33%;
	padding:0 15px;
}


.col11{
	width:91.66%;
	padding:0 15px;
}


.col12{
	width:100%;
}


.col14{
    width:18%;
}

.brand-img img{
    width:100%;
    border-radius:100px;
    box-shadow: 0 0 5px rgb(212, 211, 211);
}
.brand-img{
    width:100%;
}

.brandname-content{
    text-align: left;
    margin-left: 13%;
    margin-bottom: 30px;
}

.brandname-content h1{
    font-weight: 500;
    font-size: 34px;
    padding: 20px 0px;
    margin-top: 30px;
}

.hotelborder-container{
    padding-bottom: 40px;
    margin: 10px 0 15px 13%;
}

.hotelbrand-content{
    margin-right: 50px;
}

.hbrands-content .hname{
    margin-top: 20px;
}